<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="TDDWorkshop">
            <directory>tests/phpreboot/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/phpreboot/</directory>
        </whitelist>
    </filter>

</phpunit>